name: Build

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Google Java Format
        uses: axel-op/googlejavaformat-action@v3.4.0
        with:
          args: "--skip-sorting-imports --replace"

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          architecture: x64

      - name: Build with Gradle
        run: ./gradlew build